#main{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
    margin: auto;
    grid-gap: 40px;
    margin-top: 100px;
}
.div1{
           
           
    height: 450px;
    background-color: aquamarine;
   
}
.image{
      
    height: 250px;
    width: 100%;
}
#login{
    width: 200px;
    height: 70%;
    margin-top: 10px;
    font-size: 30px;
    font-family: serif;
    font-style: italic;
    margin-inline-start: 700px;
   }
   #data{
    width: 200px;
    height: 70%;
    margin-top: 10px;
    font-size: 30px;
    font-family: serif;
    font-style: italic;
    margin-inline-start: 30px;
   }
   #nav1{
    width: 1400px;
    height: 70px;
    background-color: rgb(3, 28, 28);
    margin: auto;
}